--
-- PostgreSQL database dump
--

\restrict BBmXd54mhQJsWMXDo9mthtbBNb0szTLqGAbGDCvQ82FZdmUAjq37yLtttkmVnTt

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: difficulty_enum; Type: TYPE; Schema: public; Owner: veritus
--

CREATE TYPE public.difficulty_enum AS ENUM (
    'EASY',
    'MEDIUM',
    'HARD'
);


ALTER TYPE public.difficulty_enum OWNER TO veritus;

--
-- Name: evaluation_status_enum; Type: TYPE; Schema: public; Owner: veritus
--

CREATE TYPE public.evaluation_status_enum AS ENUM (
    'PENDING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public.evaluation_status_enum OWNER TO veritus;

--
-- Name: question_format_enum; Type: TYPE; Schema: public; Owner: veritus
--

CREATE TYPE public.question_format_enum AS ENUM (
    'MCQ',
    'DESCRIPTIVE'
);


ALTER TYPE public.question_format_enum OWNER TO veritus;

--
-- Name: session_status_enum; Type: TYPE; Schema: public; Owner: veritus
--

CREATE TYPE public.session_status_enum AS ENUM (
    'ACTIVE',
    'PAUSED',
    'COMPLETED',
    'EXPIRED'
);


ALTER TYPE public.session_status_enum OWNER TO veritus;

--
-- Name: test_type_enum; Type: TYPE; Schema: public; Owner: veritus
--

CREATE TYPE public.test_type_enum AS ENUM (
    'APTITUDE',
    'HR',
    'TECHNICAL',
    'CORE_CS',
    'CODING_DSA'
);


ALTER TYPE public.test_type_enum OWNER TO veritus;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: domain_categories; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.domain_categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.domain_categories OWNER TO veritus;

--
-- Name: domain_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: veritus
--

CREATE SEQUENCE public.domain_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.domain_categories_id_seq OWNER TO veritus;

--
-- Name: domain_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: veritus
--

ALTER SEQUENCE public.domain_categories_id_seq OWNED BY public.domain_categories.id;


--
-- Name: domains; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.domains (
    id integer NOT NULL,
    category_id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.domains OWNER TO veritus;

--
-- Name: domains_id_seq; Type: SEQUENCE; Schema: public; Owner: veritus
--

CREATE SEQUENCE public.domains_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.domains_id_seq OWNER TO veritus;

--
-- Name: domains_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: veritus
--

ALTER SEQUENCE public.domains_id_seq OWNED BY public.domains.id;


--
-- Name: questions; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.questions (
    id integer NOT NULL,
    domain_id integer,
    test_type public.test_type_enum NOT NULL,
    difficulty public.difficulty_enum NOT NULL,
    question_text text NOT NULL,
    question_format public.question_format_enum DEFAULT 'DESCRIPTIVE'::public.question_format_enum NOT NULL,
    options jsonb,
    correct_option integer,
    explanation text
);


ALTER TABLE public.questions OWNER TO veritus;

--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: veritus
--

CREATE SEQUENCE public.questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.questions_id_seq OWNER TO veritus;

--
-- Name: questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: veritus
--

ALTER SEQUENCE public.questions_id_seq OWNED BY public.questions.id;


--
-- Name: responses; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.responses (
    id integer NOT NULL,
    session_id integer NOT NULL,
    question_id integer NOT NULL,
    answer_text text,
    score numeric(5,2),
    feedback text,
    evaluation_status public.evaluation_status_enum DEFAULT 'PENDING'::public.evaluation_status_enum,
    external_ref character varying(255),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.responses OWNER TO veritus;

--
-- Name: responses_id_seq; Type: SEQUENCE; Schema: public; Owner: veritus
--

CREATE SEQUENCE public.responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.responses_id_seq OWNER TO veritus;

--
-- Name: responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: veritus
--

ALTER SEQUENCE public.responses_id_seq OWNED BY public.responses.id;


--
-- Name: session_events; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.session_events (
    id integer NOT NULL,
    session_id integer NOT NULL,
    event_type character varying(50) NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now(),
    metadata jsonb
);


ALTER TABLE public.session_events OWNER TO veritus;

--
-- Name: session_events_id_seq; Type: SEQUENCE; Schema: public; Owner: veritus
--

CREATE SEQUENCE public.session_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.session_events_id_seq OWNER TO veritus;

--
-- Name: session_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: veritus
--

ALTER SEQUENCE public.session_events_id_seq OWNED BY public.session_events.id;


--
-- Name: session_questions; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.session_questions (
    session_id integer NOT NULL,
    question_id integer NOT NULL,
    order_index integer NOT NULL
);


ALTER TABLE public.session_questions OWNER TO veritus;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    domain_id integer,
    test_type public.test_type_enum NOT NULL,
    difficulty public.difficulty_enum NOT NULL,
    current_index integer DEFAULT 0,
    status public.session_status_enum DEFAULT 'ACTIVE'::public.session_status_enum,
    started_at timestamp without time zone DEFAULT now(),
    ended_at timestamp without time zone,
    paused_at timestamp without time zone,
    time_limit integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO veritus;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: veritus
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sessions_id_seq OWNER TO veritus;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: veritus
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: veritus
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO veritus;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: veritus
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO veritus;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: veritus
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: domain_categories id; Type: DEFAULT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.domain_categories ALTER COLUMN id SET DEFAULT nextval('public.domain_categories_id_seq'::regclass);


--
-- Name: domains id; Type: DEFAULT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.domains ALTER COLUMN id SET DEFAULT nextval('public.domains_id_seq'::regclass);


--
-- Name: questions id; Type: DEFAULT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.questions ALTER COLUMN id SET DEFAULT nextval('public.questions_id_seq'::regclass);


--
-- Name: responses id; Type: DEFAULT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.responses ALTER COLUMN id SET DEFAULT nextval('public.responses_id_seq'::regclass);


--
-- Name: session_events id; Type: DEFAULT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.session_events ALTER COLUMN id SET DEFAULT nextval('public.session_events_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: domain_categories; Type: TABLE DATA; Schema: public; Owner: veritus
--

COPY public.domain_categories (id, name) FROM stdin;
1	Frontend
2	Backend
3	Full Stack
4	Mobile
5	Data/AI
6	DevOps
7	Plus
\.


--
-- Data for Name: domains; Type: TABLE DATA; Schema: public; Owner: veritus
--

COPY public.domains (id, category_id, name) FROM stdin;
1	1	React
2	1	Vue
3	1	Angular
4	1	Next.js
5	1	Svelte
6	2	Node.js
7	2	Python
8	2	Java
9	2	PHP
10	2	Go
11	2	.NET
12	2	Ruby
13	3	MERN
14	3	MEAN
15	3	MEVN
16	3	T3
17	3	Python Full Stack
18	3	Java Full Stack
19	4	React Native
20	4	Flutter
21	4	iOS
22	4	Android
23	5	Machine Learning
24	5	Data Engineering
25	5	NLP
26	5	Computer Vision
27	5	LLM
28	6	AWS
29	6	Azure
30	6	GCP
31	6	Docker/K8s
32	6	CI/CD
33	7	Blockchain
34	7	Game Development
35	7	QA
36	7	Security
37	7	Databases
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: veritus
--



--
-- Data for Name: responses; Type: TABLE DATA; Schema: public; Owner: veritus
--



--
-- Data for Name: session_events; Type: TABLE DATA; Schema: public; Owner: veritus
--



--
-- Data for Name: session_questions; Type: TABLE DATA; Schema: public; Owner: veritus
--

COPY public.session_questions (session_id, question_id, order_index) FROM stdin;
4	1364	0
4	1372	1
4	1367	2
4	1366	3
4	1376	5
4	1377	4
4	1365	7
4	1371	6
4	1375	9
4	1363	8
5	1964	0
5	1971	1
5	1969	3
5	1970	2
5	1965	4
5	1972	5
5	1963	6
5	1966	8
5	1967	7
5	1968	9
10	4830	0
10	4854	1
10	4815	5
10	4857	8
10	4841	9
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: veritus
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: veritus
--

COPY public.users (id, name, email, password, created_at) FROM stdin;
1	Kallu	kallu@gmail.com	dummy123	2026-01-07 05:48:23.914544
2	Test User	test@example.com	kal123	2026-02-22 04:23:08.665582
\.


--
-- Name: domain_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: veritus
--

SELECT pg_catalog.setval('public.domain_categories_id_seq', 7, true);


--
-- Name: domains_id_seq; Type: SEQUENCE SET; Schema: public; Owner: veritus
--

SELECT pg_catalog.setval('public.domains_id_seq', 37, true);


--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: veritus
--

SELECT pg_catalog.setval('public.questions_id_seq', 5283, true);


--
-- Name: responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: veritus
--

SELECT pg_catalog.setval('public.responses_id_seq', 21, true);


--
-- Name: session_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: veritus
--

SELECT pg_catalog.setval('public.session_events_id_seq', 29, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: veritus
--

SELECT pg_catalog.setval('public.sessions_id_seq', 10, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: veritus
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: domain_categories domain_categories_name_key; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.domain_categories
    ADD CONSTRAINT domain_categories_name_key UNIQUE (name);


--
-- Name: domain_categories domain_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.domain_categories
    ADD CONSTRAINT domain_categories_pkey PRIMARY KEY (id);


--
-- Name: domains domains_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.domains
    ADD CONSTRAINT domains_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: responses responses_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_pkey PRIMARY KEY (id);


--
-- Name: responses responses_session_id_question_id_key; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_session_id_question_id_key UNIQUE (session_id, question_id);


--
-- Name: session_events session_events_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.session_events
    ADD CONSTRAINT session_events_pkey PRIMARY KEY (id);


--
-- Name: session_questions session_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.session_questions
    ADD CONSTRAINT session_questions_pkey PRIMARY KEY (session_id, order_index);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: domains domains_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.domains
    ADD CONSTRAINT domains_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.domain_categories(id) ON DELETE CASCADE;


--
-- Name: responses responses_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: responses responses_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id) ON DELETE CASCADE;


--
-- Name: session_events session_events_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.session_events
    ADD CONSTRAINT session_events_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id) ON DELETE CASCADE;


--
-- Name: session_questions session_questions_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.session_questions
    ADD CONSTRAINT session_questions_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: session_questions session_questions_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.session_questions
    ADD CONSTRAINT session_questions_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: veritus
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict BBmXd54mhQJsWMXDo9mthtbBNb0szTLqGAbGDCvQ82FZdmUAjq37yLtttkmVnTt

